services:

  actual-budget:
    image: actualbudget/actual-server:latest
    container_name: actual-budget
    restart: unless-stopped
    ports:
      - 5006:5006
    volumes:
      - ${DATADIR}/actual-server/data:/data
    networks:
      - caddy
    labels:
      # Caddy
      caddy: budget.${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 5006}}"
      # Plato
      com.plato.category: "Botnet"
      com.plato.subtitle: "Manage Money"
      com.plato.importance: 2

  mapper:
    image: josefilipeferreira/mapper
    container_name: mapper
    environment:
      IMAGE_RATIO: 1.6
    volumes:
      - ${DATADIR}/mapper/cache:/cache
      - ${DATADIR}/mapper/export:/export
      - ${MEDIADIR}/backup:/images:ro

  filmcompare:
    image: josefilipeferreira/filmcompare
    container_name: filmcompare
    restart: unless-stopped
    ports:
      - 5000:5000
    volumes:
      - ${DATADIR}/filmcompare/data:/data
      - ${DATADIR}/filmcompare/logs:/logs

  jbb:
    image: josefilipeferreira/jbb.py
    container_name: jbb
    volumes:
      - ${DATADIR}/jbb/config.yaml:/config.yaml
      - ${DATADIR}/jbb/db:/db
      - ${DATADIR}/jbb/media:/media
      - ${DATADIR}/jbb/music:/music
    restart: unless-stopped

  stirling-pdf:
    image: stirlingtools/stirling-pdf
    container_name: stirling-pdf
    ports:
      - 9091:8080
    volumes:
      - ${DATADIR}/stirling-pdf/trainingData:/usr/share/tessdata
      - ${DATADIR}/stirling-pdf/configs:/configs
      - ${DATADIR}/stirling-pdf/customFiles:/customFiles
      - ${DATADIR}/stirling-pdf/logs:/logs
    environment:
      DOCKER_ENABLE_SECURITY: false
      INSTALL_BOOK_AND_ADVANCED_HTML_OPS: false
    networks:
      - caddy
    labels:
      # Caddy
      caddy: pdf.${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 8080}}"
      # Plato
      com.plato.category: "Utilities"
      com.plato.subtitle: "All PDF Operations"
      com.plato.importance: 2

  planning-poker:
    image: docker.io/axeleroy/self-host-planning-poker
    container_name: planning-poker
    ports:
      - 8666:8000
    volumes:
      - ${DATADIR}/planning-poker/data:/data
    networks:
      - caddy
    labels:
      # Caddy
      caddy: poker.${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 8000}}"
      # Plato
      com.plato.category: "Utilities"
      com.plato.name: "Poker"
      com.plato.subtitle: "Planning Poker"
      com.plato.importance: 1

networks:
  caddy:
    external: true
