PUID=1000
PGID=1000
TZ=Europe/Lisbon
WEBSITE=example.com

# Directories
DATADIR=/path/to/data
GAMEDIR=/path/to/games

ROMM_DB_NAME=username
ROMM_DB_USER=username
ROMM_DB_PASS=password
ROMM_AUTH_SECRET_KEY=password
k

ROMM_SCREENSCRAPER_USER=username
ROMM_SCREENSCRAPER_PASSWORD=password
ROMM_RETROACHIEVEMENTS_API_KEY=password
ROMM_STEAMGRIDDB_API_KEY=password
