[submodule "jbb.py"]
	path = jbb.py
	url = git@github.com:JoseFilipeFerreira/jbb.py.git
[submodule "iron-cake"]
	path = iron-cake
	url = git@github.com:JoseFilipeFerreira/iron-cake.git
[submodule "merossd"]
	path = merossd
	url = git@github.com:JoseFilipeFerreira/merossd.git
[submodule "qbittorrent/dracula"]
	path = qbittorrent/dracula
	url = https://github.com/dracula/qbittorrent.git
