PUID=1000
PGID=1000
TZ=Europe/Lisbon
WEBSITE=example.com

# Directories
DATADIR=/path/to/data
MEDIADIR=/path/to/media

# OinkOink
OINKOINK_CALDAV_URL="https://example.com"
OINKOINK_CALDAV_USERNAME="username"
OINKOINK_CALDAV_PASSWORD="password"
OINKOINK_CALDAV_CALENDAR="example"
