PUID=1000
PGID=1000
TZ=Europe/Lisbon
WEBSITE=example.com

# Directories
DATADIR=/path/to/data
MEDIADIR=/path/to/media

# Jellystat
JELLYSTAT_DB_USER=username
JELLYSTAT_DB_PASSWORD=password
JELLYSTAT_JWT_SECRET=password

# Iron-cake
USER1=username
PASS1=password

USER2=username
PASS2=password
