services:

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      VERSION: docker
    group_add:
      - "989"
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp
    networks:
      - caddy
    volumes:
      - ~/.local/share/music:/music
      - ${MEDIADIR}:/media
      - ${DATADIR}/jellyfin/cache:/cache
      - ${DATADIR}/jellyfin/config:/config
    restart: unless-stopped
    labels:
      # Caddy
      caddy: jellyfin.${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 8096}}"
      # Plato
      com.plato.category: "Media"
      com.plato.subtitle: "Media Streaming"
      com.plato.importance: 5

  xteve:
    image: dnsforge/xteve
    container_name: xteve
    restart: unless-stopped
    ports:
      - 34400:34400
    volumes:
      - ${DATADIR}/xteve/config:/home/xteve/conf
      - ${DATADIR}/xteve/tmp:/tmp/xteve
    environment:
      TZ: ${TZ}
      PUID: ${PUID}
      PGID: ${PGID}
    labels:
      com.plato.category: "Infrastructure"
      com.plato.subtitle: "IPTV"
      com.plato.endpoint: "/web"
      com.plato.importance: 0

  jellystat:
    image: cyfershepard/jellystat:latest
    container_name: jellystat
    environment:
      POSTGRES_USER: ${JELLYSTAT_DB_USER}
      POSTGRES_PASSWORD: ${JELLYSTAT_DB_PASSWORD}
      POSTGRES_IP: jellystat-postgres
      POSTGRES_PORT: 5432
      JWT_SECRET: ${JELLYSTAT_JWT_SECRET}
      TZ: ${TZ}
    ports:
      - 3000:3000
    volumes:
      - ${DATADIR}/jellystat/data:/app/backend/backup-data
    depends_on:
      - jellystat-postgres
      - jellyfin
    restart: unless-stopped
    labels:
      com.plato.category: "Infrastructure"
      com.plato.subtitle: "Watch Stats"
      com.plato.importance: 4

  jellystat-postgres:
    image: postgres:15.2
    container_name: jellystat-postgres
    environment:
      POSTGRES_DB: 'jfstat'
      POSTGRES_USER: ${JELLYSTAT_DB_USER}
      POSTGRES_PASSWORD: ${JELLYSTAT_DB_PASSWORD}
    volumes:
      - ${DATADIR}/jellystat-postgres/data:/var/lib/postgresql/data
    restart: unless-stopped

  iron-cake:
    image: josefilipeferreira/iron-cake
    container_name: iron-cake
    ports:
      - 8000:8000
    volumes:
      - ${DATADIR}/iron-cake/thumb:/thumb
      - ${MEDIADIR}/anime:/anime:ro
      - ~/.local/share/music:/music:ro
      - ~/.local/share/wallpapers:/walls:ro
      - ~/repos/receitas/receitas:/receitas:ro
      - ~/share:/share:ro
    restart: unless-stopped
    networks:
      - caddy
    labels:
      # Caddy
      caddy: ${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 8000}}"
      caddy.basic_auth_0: "/anime* bcrypt"
      caddy.basic_auth_0.jff: ${PASS1}
      caddy.basic_auth_0.nifernandes99: ${PASS2}
      caddy.basic_auth_1: "/receitas* bcrypt"
      caddy.basic_auth_1.jff: ${PASS1}
      caddy.basic_auth_1.nifernandes99: ${PASS2}
      # Plato
      com.plato.category: "Botnet"
      com.plato.subtitle: "Simple Webserver"
      com.plato.importance: 5

  calibre-web:
    image: linuxserver/calibre-web:nightly
    container_name: calibre-web
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      DOCKER_MODS: linuxserver/mods:universal-calibre
      OAUTHLIB_RELAX_TOKEN_SCOPE: 1
    volumes:
      - ${DATADIR}/calibre-web/config:/config
      - ${DATADIR}/calibre/config/Calibre Library:/books
    ports:
      - 8083:8083
    depends_on:
      - calibre
    restart: unless-stopped
    networks:
      - caddy
    labels:
      # Caddy
      caddy: ${WEBSITE}
      caddy.handle: /books*
      caddy.handle.0_reverse_proxy: "{{upstreams 8083}}"
      caddy.handle.0_reverse_proxy.header_up: "X-Script-Name /books"
      # Plato
      com.plato.category: "Media"
      com.plato.name: "Biblioteca dos Nhos"
      com.plato.subtitle: "Book DB Frontend"
      com.plato.importance: 3

  calibre:
    image: linuxserver/calibre:latest
    container_name: calibre
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ${DATADIR}/calibre/config:/config
      - ${DATADIR}/calibre/import:/import
    ports:
      - 8181:8181
    restart: unless-stopped
    labels:
      com.plato.category: "Media"
      com.plato.subtitle: "Book DB"
      com.plato.force-https: True
      com.plato.importance: 2

networks:
  default:
  caddy:
    external: true
