PUID=1000
PGID=1000
TZ=Europe/Lisbon
WEBSITE=example.com

# Directories
DATADIR=/path/to/data
MEDIADIR=/path/to/media

# Nextcloud
NEXTCLOUD_MYSQL_ROOT_PASSWORD=password
NEXTCLOUD_MYSQL_PASSWORD=password
NEXTCLOUD_MYSQL_DATABASE=username
NEXTCLOUD_MYSQL_USER=username

# Onlyoffice
ONLYOFFICE_JWT=password
