services:

  nextcloud-mariadb:
    image: mariadb:10.6
    container_name: nextcloud-mariadb
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    restart: unless-stopped
    volumes:
      - ${DATADIR}/nextcloud-mariadb:/var/lib/mysql:Z
    environment:
      MYSQL_ROOT_PASSWORD: ${NEXTCLOUD_MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${NEXTCLOUD_MYSQL_PASSWORD}
      MYSQL_DATABASE: ${NEXTCLOUD_MYSQL_DATABASE}
      MYSQL_USER: ${NEXTCLOUD_MYSQL_USER}
      MARIADB_AUTO_UPGRADE: 1
      MARIADB_DISABLE_UPGRADE_BACKUP: 1
    networks:
      - default

  nextcloud-redis:
    image: redis:alpine
    container_name: nextcloud-redis
    restart: unless-stopped
    networks:
      - default

  nextcloud-cron:
    image: nextcloud:apache
    container_name: nextcloud-cron
    restart: unless-stopped
    volumes:
      - ${DATADIR}/nextcloud:/var/www/html:z
    entrypoint: /cron.sh
    depends_on:
      - nextcloud-mariadb
      - nextcloud-redis
    networks:
      - default

  nextcloud:
    image: nextcloud:apache
    container_name: nextcloud
    restart: unless-stopped
    ports:
      - 8085:80
    volumes:
      - ${DATADIR}/nextcloud:/var/www/html:z
    environment:
      TZ: ${TZ}
      MYSQL_PASSWORD: ${NEXTCLOUD_MYSQL_PASSWORD}
      MYSQL_DATABASE: ${NEXTCLOUD_MYSQL_DATABASE}
      MYSQL_USER: ${NEXTCLOUD_MYSQL_USER}
      MYSQL_HOST: nextcloud-mariadb
      REDIS_HOST: nextcloud-redis
      NEXTCLOUD_TRUSTED_DOMAINS: cloud.${WEBSITE}
      OVERWRITECLIURL: https://cloud.${WEBSITE}
      OVERWRITEPROTOCOL: https
    depends_on:
      - nextcloud-mariadb
      - nextcloud-redis
      - onlyoffice
    networks:
      - caddy
      - default
    labels:
      # Caddy
      caddy: cloud.${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 80}}"
      # Plato
      com.plato.category: "Botnet"
      com.plato.subtitle: "Google Killer"
      com.plato.importance: 4

  onlyoffice:
    image: onlyoffice/documentserver
    container_name: onlyoffice
    restart: unless-stopped
    environment:
      JWT_ENALBED: true
      JWT_SECRET: ${ONLYOFFICE_JWT}
    ports:
      - 9983:80
    networks:
      - caddy
      - default
    labels:
      # Caddy
      caddy: onlyoffice.${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  default:
  caddy:
    external: true
