PUID=1000
PGID=1000
TZ=Europe/Lisbon
WEBSITE=example.com

# Directories
DATADIR=/path/to/data
BULKDIR=/path/to/bulk/storage

# Immich
IMMICH_VERSION="v3"
IMMICH_DATABASE_PASSWORD=password
IMMICH_DATABASE_USERNAME=username
IMMICH_DATABASE_NAME=username

# immich-kiosk
KIOSK_IMMICH_API_KEY=password
KIOSK_PERSON="person_id_1,person_id_2"
