services:

  immich-server:
    container_name: immich-server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION}
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync
    volumes:
      - ${BULKDIR}/immich:/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      TZ: ${TZ}
      DB_HOSTNAME: immich-postgres
      REDIS_HOSTNAME: immich-redis
      DB_PASSWORD: ${IMMICH_DATABASE_PASSWORD}
      DB_USERNAME: ${IMMICH_DATABASE_USERNAME}
      DB_DATABASE_NAME: ${IMMICH_DATABASE_NAME}
    ports:
      - 2283:2283
    depends_on:
      - immich-redis
      - immich-postgres
      - immich-machine-learning
    restart: unless-stopped
    healthcheck:
      disable: false
    networks:
      - caddy
      - default
    labels:
      # Caddy
      caddy: immich.${WEBSITE}
      caddy.reverse_proxy: "{{upstreams 2283}}"
      # Plato
      com.plato.category: "Botnet"
      com.plato.name: "Immich"
      com.plato.subtitle: "Manage Photos"
      com.plato.selfhst-icon: "immich"
      com.plato.importance: 3

  immich-machine-learning:
    container_name: immich-machine-learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION}-openvino
    extends:
      file: hwaccel.ml.yml
      service: openvino
    volumes:
      - ${DATADIR}/immich-machine-learning/cache:/cache
    restart: unless-stopped
    healthcheck:
      disable: false
    networks:
      - default

  immich-redis:
    container_name: immich-redis
    image: docker.io/valkey/valkey:8-bookworm@sha256:42cba146593a5ea9a622002c1b7cba5da7be248650cbb64ecb9c6c33d29794b1
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped
    networks:
      - default

  immich-postgres:
    container_name: immich-postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0
    environment:
      POSTGRES_PASSWORD: ${IMMICH_DATABASE_PASSWORD}
      POSTGRES_USER: ${IMMICH_DATABASE_USERNAME}
      POSTGRES_DB: ${IMMICH_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${DATADIR}/immich-postgres/data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - default

  immich-kiosk:
    image: ghcr.io/damongolding/immich-kiosk:latest
    container_name: immich-kiosk
    environment:
      TZ: ${TZ}
      LANG: "en_GB"
      KIOSK_IMMICH_URL: https://immich.${WEBSITE}
      KIOSK_IMMICH_API_KEY: ${KIOSK_IMMICH_API_KEY}
      KIOSK_PERSON: ${KIOSK_PERSON}
      KIOSK_REQUIRE_ALL_PEOPLE: true
      KIOSK_SHOW_TIME: true
      KIOSK_SHOW_DATE: true
      KIOSK_FONT_SIZE: 120
      KIOSK_REFRESH: 10
      KIOSK_DISABLE_SCREENSAVER: true
      KIOSK_HIDE_CURSOR: false
      KIOSK_SHOW_IMAGE_DATE: true
      KIOSK_SHOW_IMAGE_LOCATION: true
      KIOSK_SHOW_IMAGE_EXIF: true
      KIOSK_IMAGE_EFFECT_AMOUNT: 110
      KIOSK_USE_ORIGINAL_IMAGE: true
      KIOSK_TRANSITION: 'cross-fade'
    volumes:
      - ${DATADIR}/immich-kiosk/config:/config
    restart: unless-stopped
    ports:
      - 3003:3000

networks:
  default:
  caddy:
    external: true
