PUID=1000
PGID=1000
TZ=Europe/Lisbon
WEBSITE=example.com

# Directories
DATADIR=/path/to/data

# Gotify
GOTIFY_DEFAULTUSER_PASS=password

# Wg-Easy
WG_USERNAME="username"
WG_PASSWORD="password"
PORT_WIREGUARD=12345

# Dnsmasq
DNSMASQ_IP="10.42.42.2"

# Speedtest-tracker
SPEEDTEST_TRACKER_APP_KEY=secret_key
