PUID=1000
PGID=1000
TZ=Europe/Lisbon
WEBSITE=example.com

# Directories
DATADIR=/path/to/data
MEDIADIR=/path/to/media
DLDIR=/path/to/download

# Qbittorrent
PORT_TORRENT=12345

# Suwayomi
SUWAYOMI_USERNAME=username
SUWAYOMI_PASSWORD=password
